<nav class="navbar navbar-expand-lg bg-info" id="navMain">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}"><img src="/static/photos/instagram_Icon.jpeg "
                style="height: 10vh;width:05vw"> |</a>
        <div class="insta" style="font-family: 'Pacifico', cursive; font-size:30px;">Instagram</div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="text-center">
                        <!-- <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                            <input style="text-align: center;" class="form-control" name="username" type="search"
                                placeholder="Search... " aria-label="Search">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button> -->


                        <form class="search_bar" role="search" action="{% url 'search_results'%}">

                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search" name="username">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {% if request.user.is_authenticated %}
        <a class="nav-link open-nav" href="{% url 'upload_image'%}">
            <i class="fa fa-upload" style="font-size: 30px;color: black; padding-right:10px;"></i></a>
        {%endif%}
        </i></a>
        <a class="navbar-brand" href="{% url 'profile' %}"><i class="fa fa-compass"
                style="font-size:20px;padding-right:10px;color:black;">Explore</i></a>
        <ul class="navbar-nav ml-auto" style="list-style: none">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link open-nav" href="/accounts/login"><i class="fa fa-user"
                        style="font-size:30px;color:black;padding-right: 20px;">Login</i></a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto" style="list-style: none; color: black; padding-left: 10px;">
            <li> <a href="accounts/logout">Logout</a></li>
        </ul>
        {%endif%}
    </div>
    </div>
</nav>