body
{
    padding: 50px;
    font-family: 'Marck Script', cursive;

}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: rgb(38, 36, 160);
	text-decoration: none;
}

.blue
{
	background-color: #74004d;
	border-bottom: 5px solid #05f5f5;
	text-shadow: 0px -2px #bccad3;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



/* Style the navigation bar */
.navbar {
	width: 100%;
	background-color: rgb(41, 40, 40);
	overflow: auto;
  }

  /* Navbar links */
  .navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }

  /* Navbar links on mouse-over */
  .navbar a:hover {
	background-color: rgb(3, 3, 3);
  }

  /* Current/active navbar link */
  .active {
	background-color: #3be240;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }
